__pycache__/
*.py[cod]
.ipynb_checkpoints/

pip-log.txt
pip-delete-this-directory.txt
launch.json
extensions.json
tmp.js

.cache
.idea/
*/.gradle/
*/prjlib/
migrations/

*.pkl
*.pid
*.log
*.whl
*.tar.gz
*.egg*
*.so
*.so.*
*.o
*zig-cache*
**/node_modules/**
*aube*
*.ipynb

# Project directories: ignore all, then selectively include
prj/*
!prj/_schall/
!prj/_schbi/
!prj/_schcomponents/
!prj/_schdata/
!prj/_schplaywright/
!prj/_schremote/
!prj/_schserverless/
!prj/_schsetup/
!prj/_schtest/
!prj/_schtools/
!prj/_schwiki/
!prj/in_browser_demo/
!prj/mobile_demo/
!prj/schdevtools/
!prj/scheditor/
!prj/schemail/
!prj/schmanage/
!prj/schodf/
!prj/schportal/
!prj/schpytigondemo/
!prj/schscripts/
!prj/schwebtrapper/


prj/*/prjlib/*

global_db_settings.py
settings_app_local.py

pytigon/static/CACHE/*
doc
site
pytigon_lib
pytigon_gui
ext_lib_cli_lin/
ext_prg/
last_error.html
static_src/sch/__javascript__/
tools/pytigon.xml
.aider*
kilo.json
.pre-commit-config.yaml
.kilo/**

