<div class="ajax-region">
        <div class="ajax-frame" data-region="region1"></div>
        <div class="ajax-frame" data-region="region2" data-link="^div.ajax-region/table tr:nth-child(2) td:nth-child(3)"></div>
        <div class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                        <thead class="table-dark">
                                <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Description</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr>
                                        <th scope="row">1</th>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>Administrator</td>
                                </tr>
                                <tr>
                                        <th scope="row">2</th>
                                        <td>Jane</td>
                                        <td>Smith</td>
                                        <td>Moderator</td>
                                </tr>
                                <tr>
                                        <th scope="row">3</th>
                                        <td>Peter</td>
                                        <td>Brown</td>
                                        <td>
                                                <div class="ajax-frame" data-region="region3">
                                                        User
                                                </div>
                                        </td>
                                </tr>
                        </tbody>
                </table>
        </div>
        <h1>TEST</h1>
        <a href="{{base_path}}templates_demo/example/example1/" class="btn btn-secondary" target="refresh_frame" data-region="region1">
                request result to frame (region1)
        </a>
        <br />
        <a href="{{base_path}}templates_demo/example/example1/" class="btn btn-secondary" target="refresh_frame" data-region="region2">
                request result to region2
        </a>
        <br />
        <a href="{{base_path}}templates_demo/example/example1/" class="btn btn-secondary" target="refresh_frame" data-region="region3">
                request result to region3
        </a>
        <br />
        <a href="{{base_path}}templates_demo/example/example1/" class="btn btn-secondary" target="refresh_frame" data-frame="^div.ajax-region/table tr:nth-child(2) td:nth-child(2)">
                request result to region2
        </a>
        <br />
</div>

