<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="_blank" title="Hello!">
        Open example in new window
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary ladda-button" target="_parent" title="Hello!">
        Open example in new tab, ladda-button
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="popup_info" title="Hello!">
        Open example in popup info
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/?after_close=refresh" class="btn btn-secondary ladda-button" target="popup_info" title="Hello!">
        Open example in popup info, after_close=refresh, ladda-button
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="popup_edit" title="Hello!">
        Open example in popup edit
</a>
<br />
<a href="{{base_path}}templates_demo/example/example4/" class="btn btn-secondary" target="popup_edit" title="Hello!">
        Open example in popup edit (lage window)
</a>
<br />
<div>
        <a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="inline_info" title="Hello!" data-inline-position="^div:after">
                Open example in inline info
        </a>
</div>
<br />
<div>
        <a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="inline_edit" title="Hello!" data-inline-position="^div:after">
                Open example in inline edit
        </a>
</div>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="refresh_page" title="Hello!">
        Replace page
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="refresh_frame" title="Hello!">
        Replace frame
</a>
<br>
</br>
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="message" title="Hello!">
        Message
</a>
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="message" title="Hello!" data-icon="error" data-title="Error" data-text="This is error" data-footer="footer" data-timer="3000">
        Message with option (icon: [warning, error, success, info, question], timer: miliseconds)
</a>
<br />
<a href="{{base_path}}templates_demo/example/example3/" class="btn btn-secondary" target="null" title="Hello!">
        Null
</a>
<br />
<div href="{{base_path}}templates_demo/example/example1/" class="auto-frame ajax-frame ajax-link ajax-region"></div>

