{% extends "pages/base_page.html" %}

{% block page_content %}
<table>
    <tr>
        <td>Typ deklaracji</td>
        <td>Status</td>
    </tr>
    {% for obj in deklaracje %}
    <tr>
        <td>{{obj.get_row.0}}</td>
        <td>{{obj.get_row.1}}</td>    
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <td>Płatnik</td>
        <td>Budowy</td>
        <td>Punkty</td>
        <td>Konto</td>
    </tr>
    {% for obj in punkty %}
    <tr>
        <td>{{obj.platnik}}</td>
        <td>{{obj.budowa}}</td>
        <td>{{obj.get_row.0}}</td>
        <td>{{obj.get_row.1}}</td>    
    </tr>
    {% endfor %}
</table>
{% endblock %}