{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <h1 class="text-center">Czy chcesz usunąć konto?</h1>
  <table class="spacer">
    <tbody>
      <tr>
        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
      </tr>
    </tbody>
  </table>
  <p>
    Otrzymujesz tę wiadomość e-mail, ponieważ Ty lub ktoś inny zażądał usunięcia Twojego konta użytkownika w sklep.polbruk.pl. <br/>
    Kliknij poniższy link, aby usunąć swoje konto. Pamiętaj, że to działanie jest trwałe i nie można go cofnąć.
  </p>
  <table class="button large expand">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <center data-parsed="">
                <a href="{{ delete_url }}" align="center" class="float-center">Wykasuj konto</a>
              </center>
            </td>
          </tr>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </table>
{% endblock emailbody %}
