{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <h1 class="text-center">Potwierdzenie dokonania płatności</h1>
  <table class="spacer">
    <tbody>
      <tr>
        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
      </tr>
    </tbody>
  </table>
  <p>
    Dziękujemy za dokonanie płatności. Aby zobaczyć szczegóły płatności, odwiedź: <a href="{{ order_details url }}"> {{order_details url}} </a>    
  </p>
{% endblock emailbody %}
