{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <h1 class="text-center">Czy zapomniałeś hasła?</h1>
  <table class="spacer">
    <tbody>
      <tr>
        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
      </tr>
    </tbody>
  </table>
  <p>
  Otrzymujesz tę wiadomość e-mail, ponieważ Ty lub ktoś inny zażądał hasła do swojego konta w sklep.polbruk.pl. 
  Można je bezpiecznie zignorować, jeśli nie zażądałeś resetowania hasła. Kliknij poniższe łącze, aby zresetować hasło. 
  </p>
  <table class="button large expand">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <center data-parsed="">
                <a href="{{ reset_url }}" align="center" class="float-center">Zresetuj hasło</a>
              </center>
            </td>
          </tr>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </table>
{% endblock emailbody %}
