{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <p>
  Zapraszamy do Sklepu Internetowego B2B firmy Polbruk S.A. Otrzymujesz tego e-maila ponieważ zgłosiłeś/aś lub ktoś inny zgłosił z Twojego maila, chęć dostępu do konta w sklep.polbruk.pl. 
  Kliknij na poniższy link aby poprzez nadanie hasła stać się Klientem Sklepu Internetowego B2B Polbruk.
  </p>
  <table class="button large expand">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <center data-parsed="">
                <a href="{{ reset_url }}" align="center" class="float-center">Nadaj hasło</a>
              </center>
            </td>
          </tr>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </table>
{% endblock emailbody %}
