.logo img {
  position: absolute;
  left: 0px;
  width: 2rem;
  left: 0.3rem;
  top: 0.3rem; }

.logo span {
  top: 11px;
  position: relative;
  font-size: 80%; }

.logo span.logo-lg {
  font-size: 120%; }
