{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <h1 class="text-center">Przyjęliśmy Twoje zamówienie</h1>
  <table class="spacer">
    <tbody>
      <tr>
        <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
      </tr>
    </tbody>
  </table>
  <p>
    Dziękujemy za złożenia zamówienia, potwierdzamy przyjęcie oraz zapłatę. Numer Państwa zamówienia w systemie Polbruk <strong>{{fulfillment.tracking_number}}</strong> <br/>
    Odbioru zamówienia z Zakładu Polbruk, w którym dokonali Państwo zakupu, musi nastąpić w ciągu 5 dni roboczych. Po tym czasie zamówienie zostanie anulowane a środki płatnicze zostaną zwrócone, zgodnie z Regulaminem.<br/>
    Upoważnienie do odbioru materiałów dla kierowcy - zgodnie z obowiązującymi ogólnymi zasadami odbioru materiału w Zakładach Polbruk.<br/>
  </p>
{% endblock emailbody %}
