{% extends "templated_email/compiled/base_email.html" %}
{% load i18n %}
{% load static %}

{% block emailbody %}      
  <p>
  Otrzymujesz tego e-maila, ponieważ musisz ustawić hasło dla Twojego konta w sklep.polbruk.pl.
  Kliknij w link poniżej, aby zresetować hasło.
  </p>
  <table class="button large expand">
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <center data-parsed="">
                <a href="{{ password_set_url }}" align="center" class="float-center">Nadaj hasło</a>
              </center>
            </td>
          </tr>
        </table>
      </td>
      <td class="expander"></td>
    </tr>
  </table>
{% endblock emailbody %}
