{% extends "forms/user_tab.html" %}
{% load exfiltry %}
{% load exsyntax %}
{% block xextrahead %}
        {% if OK %}
                <meta name="target" xcontent="_parent_refr">
                </meta>
        {% endif %}
{% endblock %}
{% block form_content_schbutton %}
        <input type="submit" value="OK" href="." class="btn btn-info" target="_self" height="64">
        </input>
{% endblock %}
{% block all %}
        {% with show_title_bar=1 title='Copy' vform=True %}
                {{ block.super }}
        {% endwith %}
{% endblock %}

